@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 89%;
  margin: auto;
  max-width: 1044px;
}

/* NAVBAR STYLING */

nav {
  background: #feefde;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 700;
}

.navbar span {
  color: rgb(5, 73, 5);
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar ul li {
  font-weight: 500;
}

.navbar-button {
  background-color: rgb(5, 73, 5);
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  border: none;
}

/* HERO STYLES */

.hero {
  background-color: #feefde;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 1.5rem;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info h4 {
  font-size: 1.12rem;
  line-height: 1.75rem;
  color: #6b7280;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero-info h1 {
  font-size: 3rem;
  line-height: 1;
  color: #6b7280;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero-info p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.hero-container img {
  height: 550px;
  position: relative;
}
